{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project | {{ page }}</title>

    <!-- Styles -->
    {% include "./layouts/styles.html" %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="page">
        <!-- Header -->
        {% include "./layouts/header.html" %}

        <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">Overview</div>
                            <h2 class="page-title">Products</h2>
                        </div>

                        <!-- Page title actions -->
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add-product">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                    Create
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page body -->
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Lists</h3>
                                </div>
                                <div class="card-body border-bottom py-3">
                                    <div class="d-flex">
                                        <div class="ms-auto text-secondary">
                                            Search:
                                            <div class="ms-2 d-inline-block">
                                                <input type="text" class="form-control form-control-sm" aria-label="Search...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter text-nowrap datatable">
                                        <thead>
                                            <tr>
                                                <th class="w-1">No.
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>
                                                </th>
                                                <th>Title</th>
                                                <th>Desc</th>
                                                <th>Price</th>
                                                <th>Created</th>
                                                <th>Stock</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in products %}
                                                <tr>
                                                    <td><span class="text-secondary">{{ forloop.counter }}</span></td>
                                                    <td>{{ product.title }}</td>
                                                    <td>{{ product.desc }}</td>
                                                    <td>{{ product.price }}</td>
                                                    <td>{{ product.created }}</td>
                                                    <td>
                                                        {% if product.stock >= 1 %}
                                                            <span class="badge bg-success me-1"></span> Available
                                                        {% else %}
                                                            <span class="badge bg-success me-1"></span> Sold out
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="{% url "products" %}" class="btn btn-sm btn-outline-info">
                                                            <img src="{% static "icons/info.svg" %}" alt="" srcset="">
                                                        </a>
                                                        <a href="#" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-add-order-{{forloop.counter}}">
                                                            <img src="{% static "icons/plus.svg" %}" alt="" srcset="">
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <th scope="row">
                                                        <span class="mb-0 text-sm">Aucun produit trouvée dans la base</span>
                                                    </th>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer d-flex align-items-center">
                                    <p class="m-0 text-secondary">Showing <span>1</span> results</p>
                                    <ul class="pagination m-0 ms-auto">
                                        {% if products.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="{% url 'products' %}?page={{ products.previous_page_number }}" tabindex="-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                                                    Prev
                                                </a>
                                            </li>
                                        {% endif %}
                                        
                                        {% for page_number in products.paginator.page_range %}
                                            {% if products.number == page_number %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="{% url 'products' %}?page={{ page_number }}">{{ page_number }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{% url 'products' %}?page={{ page_number }}">{{ page_number }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if products.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="{% url 'products' %}?page={{ products.next_page_number }}">
                                                    <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            {% include "./layouts/footer.html" %}

            <!-- Modals -->
            {% include "./modals/add_product.html" %}
            {% include "./modals/add_order.html" %}
        </div>
    </div>
 
    <!-- Scripts -->
    {% include "./layouts/scripts.html" %}
    <script>
        $(document).ready(function() {
            $('.select-search').select2();
        });
    </script>
</body>
</html>